# Determines which backend neuro-san server to access. This can be a server running locally or a remote server that
# you have access to. Make sure to include the port number if it's not running on the default HTTP port (80).
NEURO_SAN_SERVER_URL=<URL for your neuro-san server including port number>

# Set this to false for testing or authentication via load balancer (recommended)
NEXT_PUBLIC_ENABLE_AUTHENTICATION=false

# Set this to your OpenAI API key (required)
OPENAI_API_KEY=<Your OpenAI API key here>

# Set this to your support email address
SUPPORT_EMAIL_ADDRESS=test@example.com

# Set this to your Logo.dev token (for automated logo suggestions in the UI)
LOGO_SERVICE_TOKEN=<Your logo service token here>
