permissions:
  contents: read
name: Lint and Unit Tests

on:
  push:
    branches: [ main, DS-github-actions ]
  pull_request:

env:
  NODEJS_VERSION: 20

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get ephemeral GitHub creds from Vault
        env:
          VAULT: ${{ secrets.VAULT }}
          VAULT_LOGIN: ${{ secrets.VAULT_LOGIN }}
        run: |
          docker run --rm -e VAULT_ADDR=$VAULT vault:1.12.0 sh -c "
            vault login -address=\$VAULT_ADDR -method=github token=\$VAULT_LOGIN | grep -Ev '(token |token_accessor)'
            EPHEMERAL_TOKEN=\$(vault read -address=\$VAULT_ADDR -field=token /github-secrets/token/repo-read)
            echo \"LEAF_SOURCE_CREDENTIALS=\$EPHEMERAL_TOKEN\" >> \$GITHUB_ENV
          "

  install_dependencies:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Install dependencies
        run: |
          yarn --version
          yarn install

  generate_typescript_api_stubs:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Install bash and git
        run: sudo apt-get update && sudo apt-get install -y bash git
      - name: Generate Typescript stubs
        run: ./build_scripts/do_openapi_generate.sh

  generate_openapi_types:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Generate OpenAPI Types
        run: npx tsx ./build_scripts/GenerateOpenAPITypes.ts
        working-directory: ./neuro-ui

  run_eslint:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Install bash
        run: sudo apt-get update && sudo apt-get install -y bash
      - name: Run eslint
        run: ./build_scripts/run_eslint.sh

  run_shellcheck:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Install shellcheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck
      - name: Run shellcheck
        run: ./build_scripts/run_shellcheck.sh

  run_prettier:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Run prettier
        run: |
          yarn check-format --version
          yarn check-format

  run_depcheck:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Run depcheck
        run: |
          yarn depcheck --version
          yarn depcheck

  run_ts_prune:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: List ts-prune version
        run: yarn list --depth=0 --pattern ts-prune
      - name: Run ts-prune
        run: yarn ts-prune --error

  run_unit_tests:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Run unit tests
        run: |
          yarn unit_test --version
          yarn unit_test

  run_ts_compilation:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Run Typescript compilation
        run: |
          yarn tsc --version
          yarn tsc

  all_test_status:
    runs-on: ubuntu-latest
    needs:
      - run_eslint
      - run_prettier
      - run_unit_tests
      - run_depcheck
      - run_ts_compilation
      - run_ts_prune
      - run_shellcheck
      - generate_typescript_api_stubs
    steps:
      - name: Check for failed steps
        run: echo "All required steps completed."